{% extends "cover_base.html" %}

{% block nav %}
<li><a href="/main">Главная</a></li>
<li class="active"><a href="/index/0/none">Вопрос - ответ</a></li>
<li><a href="/profile">{{ user }}</a></li>
<li><a href="/sign_out">Выход</a></li>
{% endblock %}

{% block site_wrapper %}
<div class="container">
    <form class="form-signin" role="form" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Добавление новости</h2>
        <div>
            {{ form.title(class_="form-control", placeholder="Заголовок") }}
        </div>
        <div>
            {{ form.content(class_="form-control", placeholder="Содержание") }}
        </div>
        <div>
            {{ form.submit(class_="btn btn-lg btn-success btn-block") }}
        </div>
    </form>
</div>
{% endblock %}