<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ icon }}">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ bootstrap }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ style }}" rel="stylesheet">
</head>

<body>
    <div class="menu-wrapper">
        <div class="menu-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Tetropentada</h3>
                        <ul class="nav masthead-nav">
                            {% block nav %} {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {% block cover_container %} {% endblock %}
            </div>
            {% block site_wrapper %} {% endblock %}
        </div>
    </div>
</body>
</html>