{% extends "base.html" %}

{% block nav %}

{% if session['user_id'] == 0 %}
    <li><a href="/requests">Запросы</a></li>
{% endif %}

<li><a href="/main">Главная</a></li>
<li><a href="/index/0/none">Вопрос - ответ</a></li>
{% if session.get('username') %}
	{% if user.username == session['username'] %}
		<li class="active"><a href="/profile/{{ session['user_id'] }}">{{ session.get('username') }}</a></li>
	{% else %}
		<li><a href="/profile/{{ session['user_id'] }}">{{ session.get('username') }}</a></li>
	{% endif %}
    <li><a href="/sign_out">Выход</a></li>
{% else %}
    <li><a href="/registration">Регистрация</a></li>
    <li><a href="/sign_in">Вход</a></li>
{% endif %}
{% endblock %}

{% block cover_container %}
<div class="container">
	<div class="avatar-writer">
		<img src="{{ avatar }}" alt="Не удалось загрузить аватар">
	</div>
	<div class="username">
		{{ user.username }}
	</div>
	<div class="status">Статус в сообществе: {{ user.status }}</div>
	<div class="rating">Рейтинг: {{ user.rating }}</div>
	<div>{{ user.name }} {{ user.surname }}</div>
	<div>{{ user.mail }}</div>
	<br><br>
	{% if user.username == session['username'] %}
		<h4>Изменить аватар</h4>
		<form role="form" method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<div>{{ form.photo }}</div>
			<div>{{ form.submit() }}</div>
		</form>
	{% endif %}
	{% if session['user_id'] == 0 and user.status != "Админ" %}
    	<button type="button" class="btn btn-danger">Забанить</button>
	{% endif %}
</div>
{% endblock %}
