{% extends "cover_base.html" %}

{% block nav %}
<li><a href="/main">Главная</a></li>
<li><a href="/index/0">Вопрос - ответ</a></li>
{% if session.get('username') %}
	<li class="active"><a href="/profile">{{ user }}</a></li>
    <li><a href="/sign_out">Выход</a></li>
{% else %}
    <li><a href="/registration">Регистрация</a></li>
    <li><a href="/sign_in">Вход</a></li>
{% endif %}
{% endblock %}

{% block site_wrapper %}
<div class="container">
	<div class="avatar-writer">
		<img src="{{ avatar }}" alt="Не удалось загрузить аватар">
	</div>
	<div class="username">
		{{ username }}
	</div>
	<div class="about-myself">
		Here will be text about myself
	</div>

</div>
{% endblock %}
