{% extends "base.html" %}

{% block nav %}
<li><a href="/main">Главная</a></li>
<li><a href="/index/0">Вопрос - ответ</a></li>
<li><a href="/registration">Регистрация</a></li>
<li class="active"><a href="/sign_in">Вход</a></li>
{% endblock %}

{% block site_wrapper %}
<div class="container">
    <form class="form-signin" role="form" method="post">
        {{ form.hidden_tag() }}
        {% block error %} {% endblock %}
        {% block new_fields %}
        <h2 class="form-signin-heading">Вход</h2>
        {% endblock %}
        <div>
            {{ form.username(class_="form-control", placeholder="Имя пользователя") }}
        </div>
        <div>
            {{ form.password(class_="form-control", placeholder="Пароль") }}
        </div>
        <div>
            {{ form.submit(class_="btn btn-lg btn-success btn-block") }}
        </div>
    </form>
</div>
{% endblock %}