{% extends "base.html" %}

{% block nav %}
<li><a href="/main">Главная</a></li>
<li class="active"><a href="/index/0/none">Вопрос - ответ</a></li>
{% if session.get('username') %}
    <li><a href="/profile/{{ session['user_id'] }}">{{ session['username'] }}</a></li>
    <li><a href="/sign_out">Выход</a></li>
{% else %}
    <li><a href="/registration">Регистрация</a></li>
    <li><a href="/sign_in">Вход</a></li>
{% endif %}
{% endblock %}

{% block site_wrapper %}
<div class="container">
    <div class="author-links">
        <a href="/profile/{{ author.id }}">
            <img class="round-img" src="{{ url_for('static', filename='avatars/{}'.format(author.avatar)) }}"
                 height="30" width="30">
            {{ author.username }}
        </a>
        <a href="/index/0/{{ question.tag }}"><span class="badge badge-primary">{{ question.tag }}</span></a>
        {{ question.date_time[:-10] }}
    </div>
    <h1>{{ question.title }}</h1>
    <h4>{{ question.content }}</h4><br>

    <div class="answers">
        {% for answer in answers_list %}
            <div class="answer">
                <h4>
                    <a class="user-link" href="/profile/{{ User.query.filter_by(id=answer.user_id).first().id }}">
                        <img class="round-img" src="{{ url_for('static', filename='avatars/{}'.format(User.query.filter_by(id=answer.user_id).first().avatar)) }}"
                            height="30" width="30">
                        {{ User.query.filter_by(id=answer.user_id).first().username }}
                    </a>
                    {{ answer.date_time[:-10] }}
                    {% if author.username == session['username'] and User.query.filter_by(id=answer.user_id).first().id != session['user_id'] %}
                        {% if answers.filter_by(best=1).all() %}
                            {% if answer.best == 1 %}
                                <a href="/best_answer/{{ User.query.filter_by(id=answer.user_id).first().id }}/{{ question.id }}/{{ answer.id }}/0">Не лучший ответ</a>
                            {% endif %}
                        {% elif answer.best != -1 %}
                            <a href="/best_answer/{{ User.query.filter_by(id=answer.user_id).first().id }}/{{ question.id }}/{{ answer.id }}/1">Лучший ответ</a>
                        {% endif %}

                        {% if answers.filter_by(best=-1).all() %}
                            {% if answer.best == -1 %}
                                <a href="/bad_answer/{{ User.query.filter_by(id=answer.user_id).first().id }}/{{ question.id }}/{{ answer.id }}/0">Не плохой ответ</a>
                            {% endif %}
                        {% elif answer.best != 1 %}
                            <a href="/bad_answer/{{ User.query.filter_by(id=answer.user_id).first().id }}/{{ question.id }}/{{ answer.id }}/1">Плохой ответ</a>
                        {% endif %}
                    {% endif %}
                </h4>
                <div class="answer-content">{{ answer.content }}</div>
            </div>
        {% endfor %}
    </div><br>

    <form role="form" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.content(class="form-control", placeholder="Ваш ответ") }}
            {{ form.submit(class_="btn btn-lg btn-success btn-block") }}
        </div>
    </form>
</div>
{% endblock %}