{% extends "base.html" %}

{% block nav %}
{% if session.get('username') %}
	<li class="active"><a href="/profile/{{ session['user_id'] }}">{{ session.get('username') }}</a></li>
{% endif %}
{% endblock %}

{% block site_wrapper %}

{% if session.get('username') %}
	<div class="container">
		{{ form.hidden_tag() }}
		<div>
	        {{ form.password(class_="form-control", placeholder="Пароль") }}
	    </div>
	    <div>
	        {{ form.submit(class_="btn btn-danger") }}
	    </div>
	</div>

{% else %}
	<div class="container">
		<div>
			Вы не авторизованы. Для отписки от уведомлений нужно войти в систему.
		</div>
	</div>
{% endif %}
{% endblock %}